# Python virtual environment
.venv/
venv/

# Saved models and artifacts
**/model/
*.pkl
*.h5
*.safetensors
model_*.joblib

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Transformer training output
**/transformer_results/
**/logs/
